@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/*////////////////////////////
HEADER PARA TODAS LAS PAGINAS
/////////////////////////////*/

.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.headerBarraNegra {
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-between;
}

#logo {
    margin: 20px;
}

.headerBarraNegra a {
    text-decoration: none;
}

#tituloUniverso {
    font-size: 50px;
    font-style: italic;
}

.headerBarraNegra h1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.index_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(168, 165, 165);
}

.nav {
    background-color: rgb(168, 165, 165);
}

.headerNavDerecha {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    align-items: center;
    background-color: rgb(168, 165, 165);
}

#botonInicioSesion {
    background-color: black;
    border-radius: 50px;
    color: white;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    margin-right: 20px;
    padding: 0 20px;
}

#formRegistro {
    display: none;
    background-color: white;
    border: 20px;
    padding: 20px;
}

#formUsuario {
    display: none;
    background-color: white;
    border: 20px;
    padding: 20px;
}



/*/////////////
INDEX-MAIN
/////////////*/

.mainIndex {
    padding-top: 150px;
}

.mainImagenPropaganda {
    width: 100%;
    background-color: black;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    overflow: hidden;
    height: 600px;
}

#img_1 {
    padding-top: 150px;
}

#img_2 { 
    display: none;
    padding-top: 150px;
}

#img_3 { 
    display: none; 
    padding-top: 150px;
}

.img_1_display {
    display: flex;
    flex-direction: row;
    color: white;
}

.img_2_display {
    display: flex;
    flex-direction: row;
    color: white;
}

.img_3_display {
    display: flex;
    flex-direction: row;
    color: white;
}

.img1_h2_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.img2_h2_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.img3_h2_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px; 
}  

.h2_titulos {
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
}

#btn_img1 {
    color: white;
    background-color: black;
    padding: 10px 40px;
    border: white solid;
}

#btn_img2 {
    color: white;
    background-color: black;
    padding: 10px 40px;
    border: white solid;
}

#btn_img3 {
    color: white;
    background-color: black;
    padding: 10px 40px;
    border: white solid; 
}

.main_imagen_button {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#btn1 {
    margin: 10px;
    border: grey solid;
    border-width: thin;
}

#btn2 {
    margin: 10px;
    border: grey solid;
    border-width: thin;
}

#btn3 {
    margin: 10px;
    border: grey solid;
    border-width: thin;
}

#index_seccion_noticias {
   grid-template-columns: 500px 500px 500px;
   justify-content: center;
}

.noticias_titulo {
    text-align: center;
    font-family:'Franklin Gothic Medium';
    font-size: 60px;
    font-style: italic;
    margin: 20px;
}

.noticia { /*///CLASE → CREADO EN JS////*/
    display: flex;
    flex-direction: column;
    border: grey solid;
    border-width: thin;
    border-radius: 5px;
    margin: 50px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.imgNoti {
    display: flex;
}
#api {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


#btnApi {
    background-color: rgba(0, 0, 255, 0.212);
    border-radius: 20px;
    color: white;
    font-size: 30px;
    padding: 0 10px 0 10px;
    margin-bottom: 50px;
}

#api_description {
    display: none;
    grid-template-columns: 400px 400px 400px 400px;
    height: 500px;
    overflow: scroll;
}

/*//////////////////////////
FOOTER EN TODAS LAS PAGINAS
//////////////////////////*/

.footer {
    bottom: 0;
    margin-top: 50px;
    background-color: grey;
    width: 100%;
}

.footerDireccion {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

/*/////////////////////////////////////////////////////////////////*/

/*////////////
HTML = JUEGOS 
///////////*/

.main_juegos {
    padding-top: 100px;
}

.mainJuegosMuestra {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#juegosIngresados  {
   display: grid;
   grid-template-columns: 400px 400px 400px;
   justify-content: center;
   grid-gap: 20px;
   padding-top: 50px;
}

.card {
   margin: 20px; 
}

.form_index {
    margin: 50px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.308);
}

.styleImg {
    height: 300px ;
    border-radius: 10px;
}

.h2_ultimosJuegos {
    text-align: center;
    padding: 50px;
    font-family: 'Noto Sans Mono', monospace;
    color: white;
    font-size: 50px;
    background-image: url(./source/juegos/TLOU2/background.png);
}

#btn_comprar {
    background-color: rgba(0, 0, 255, 0.212);
    border-radius: 20px;
    color: white;
    padding: 0 10px 0 10px;
}

.card-title {
    font-family: 'Oswald', sans-serif;
    margin: 20px 0;
    font-style: italic;
}

.comentario {
    font-family: 'Open Sans', sans-serif;
}

.mainMerchandising {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0 ; 
    
}

#listaMerch {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    grid-gap: 20px;
    padding-top: 50px;
}

#vacio {
    text-align: center;
    font-family: 'Noto Sans Mono', monospace;
    color: white;
    font-size: 50px;
    background-image: url(./source/juegos/TLOU2/background.png);
    margin: 100px 0;
}

#vacioM {
    text-align: center;
    padding: 50px;
    font-family: 'Noto Sans Mono', monospace;
    color: white;
    font-size: 50px;
    background-image: url(./source/juegos/TLOU2/background.png);
    margin: 100px 0;
}

/*////////////////////////////////////////*/

/*//////////
CARRITO HTML 
//////////*/

.main_carrito {
    padding-top: 200px;
}

#carrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#finalizar {
    display: none;
    background-color: rgba(0, 0, 255, 0.212);
    border-radius: 20px;
    color: white;
    padding: 0 10px 0 10px;    
}

.montoTotal {
    display: none;
}

/*////////////////////////////////////////////////*/

/*////////
ADMIN HTML 
/////////*/

#formAdmin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 280px;
    padding-top: 200px;
}

#idAdmin {
    margin: 10px;
}


#btn_confirm {
    background-color: rgba(0, 0, 255, 0.212);
    border-radius: 20px;
    color: white;
    padding: 0 10px 0 10px; 
    margin-top: 10px;
}

#adm_hola_div {
    padding: 50px 0;
    font-family: 'Noto Sans Mono', monospace;
    color: blue;
    font-style: italic;
}

#form_index {
    display: none;
    flex-direction: row;
    margin: 20px ;
    justify-content: center;
    align-items: center;
}

.form_index2 {
    display: flex;
    flex-direction: column;
    margin: 20PX;
    border: #00000062  solid;
    border-width: thin;
    padding: 20px;

}

.form_index_merch {
    border: #00000062  solid;
    border-width: thin;
    margin: 20px;
    padding: 20px;
}

.form_noticias {
    border: #00000062 solid;
    border-width: thin;
    margin: 20px;
    padding: 20px;
}

.boton_merch {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    padding: 5px 20px;
}

.boton_noticias {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    padding: 5px 20px;
}