@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/*--------header----------------------*/

.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.headerBarraNegra {
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-between;
}

.headerBarraNegra h1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: rgb(168, 165, 165);
}

.headerNavDerecha {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    align-items: center;
    background-color: white;
}

#botonInicioSesion {
    background-color: black;
    border-radius: 50px;
    color: white;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    margin-right: 20px;
    padding: 0 20px;
}

#formRegistro {
    display: none;
    background-color: white;
    border: 20px;
    padding: 20px;
}

#formUsuario {
    display: none;
    background-color: white;
    border: 20px;
    padding: 20px;
}



/****************************************************************
--------------index main-----------------------------------------
*****************************************************************/


.mainIndex {
    padding-top: 80px;
}

/*---------------1°SECCION: PROPAGANDA-------------------------*/
.mainImagenPropaganda {
    width: 100%;
    background-color: black;
    align-items: center;
    margin-bottom: 50px;
}


/*--------------footer----------------------------*/
.footer {
    bottom: 0;
    margin-top: 50px;
    background-color: grey;
    width: 100%;
}

.footerDireccion {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

/*---------------------------------------------------------*/

/*
.headerDropDown {
    margin: 50px;
}

#dropdownContent {
    display:none;  
}

#dropdownContent a {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

#listado {
    display: none;
}

.botones {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

*/

/*//////////////////////////////////////////////////////////////////////*/



/*////////////
HTML = JUEGOS 
///////////*/

.mainJuegosMuestra {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#juegosIngresados  {
   display: grid;
   grid-template-columns: 600px 600px ;
   justify-content: center;
   grid-gap: 20px;
   padding-top: 50px;
}

.card {
   margin: 20px; 
}

.form_index {
    margin: 50px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.308);
}

.styleImg {
    height: 300px ;
    border-radius: 10px;
}

.h2_ultimosJuegos {
    text-align: center;
    padding: 50px;
    font-family: 'Noto Sans Mono', monospace;
    color: white;
    font-size: 50px;
    background-image: url(./source/juegos/TLOU2/background.png);
}

#btn_comprar {
    background-color: rgba(0, 0, 255, 0.212);
    border-radius: 20px;
    color: white;
    padding: 0 10px 0 10px;
}

.card-title {
    font-family: 'Noto Sans Mono', monospace;
}



/*-------------------------------------------------------*/

main {
    padding-top: 100px;
}

#form_index {
    display: none;
}


/************************************/

/*//////////
CARRITO HTML 
//////////*/

#carrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#finalizar {
    display: none;
    background-color: rgba(0, 0, 255, 0.212);
    border-radius: 20px;
    color: white;
    padding: 0 10px 0 10px;    
}

#comentario {
    display: inline-block;
    font-family: 'Noto Sans Mono', monospace;
    border: rgba(128, 128, 128, 0.247) solid;
    border-radius: 20px;
    border-width: thin;
    padding: 20px;
}


/*/////////////
ADMIN HTML 
/////////*/


#btn_confirm {
    background-color: rgba(0, 0, 255, 0.212);
    border-radius: 20px;
    color: white;
    padding: 0 10px 0 10px; 
}